doctype html
html(lang="en")
    head
        //- Google Tag Manager
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-MZDN562');</script>
        //- End Google Tag Manager
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block startScript
        title #{pageTitle} - Dee Adebayo
        meta(name="author", content="Dee Adebayo")
        meta(name="keywords", content=keywordContent)
        meta(name="description" content=pageDescContent)
        link(rel="stylesheet", href="public/css/styles.css")
    body
        //- Google Tag Manager (noscript)
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZDN562" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        //- End Google Tag Manager (noscript)
        .wrapper
            .page-wrapper.page-wrapper__template
                header.page-wrapper__template__header
                    include _includes/navbar
                .page-wrapper__template__content(class=page)
                    block content
        include ./_includes/footer
        script(src="public/js/script.js")
        block endScript